<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title test base
        link(rel="stylesheet", href="/assets/styles.css")
    body
        header.header
            ul.menus
                li.menus__item
                    a(href="/board/list") BOARD
                li.meuns__item
                    a(href="/logout") LOGOUT
                li.meuns__item
                    a(href="/signup") SIGNUP
                li.meuns__item
                    a(href="/signin") SIGNIN
        block content

        footer.footer